@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "League Spartan";
    overflow-x: hidden;
  }
}

/* .ql-container.ql-snow {
  min-height: 300px;
} */
